body {
    font-family: sans-serif;
}

h2 ~ div {
    display: flex;
}

div div {
    border: 1px solid black;
    overflow: hidden;
    width: 50vw;
}

div div:last-of-type {
    border-left: none;
}

div:nth-of-type(2) div {
    border-top: none;
}

h3, p, pre {
    padding-left: 1rem;
    padding-right: 1rem;
}

code, pre {
    word-wrap: break-word;
}

.body {
    margin-bottom: 0;
}

pre {
    margin-top: 0;
    white-space: pre-wrap;
}

@media screen and (max-width: 767px) {
    h3, p, pre {
        padding-left: .75rem;
        padding-right: .75rem;
    }
}